<header>
    <nav>
        <a href="{% url 'posts:post_list' %}" class="logo"><h1>Noabo</h1></a>
        <div class="menu">
            <a href="{% url 'posts:post_add' %}" onclick="return checkLogin(event)">포스트추가</a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}">로그아웃</a>
            {% else %}
                <a href="{% url 'users:login' %}">로그인</a>
                <a href="{% url 'users:signup' %}">회원가입</a>
            {% endif %}
        </div>
    </nav>
</header>

<script>
    function checkLogin(event) {
        const isLoggedIn = "{{user.is_authenticated|yesno:"true,false"}}" === "true";
        
        if (!isLoggedIn) {
            event.preventDefault(); // 링크 기본 이동 막기
            if (confirm("로그인이 필요합니다. 로그인 페이지로 이동 합니다.")) {
                window.location.href = "{%url 'users:login'%}";
            }
            return false;
        }
        return true; // 로그인 상태면 그대로 이동
    }
</script>